@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(159,163,179);
    background: radial-gradient(circle, rgba(159,163,179,1) 0%, rgba(44,45,55,1) 48%);
    text-align: center;
    font-family: 'Tilt Neon', sans-serif;
    font-size: 20px; 
    min-height: 100vh;
    color:rgb(206, 189, 232);
     
}


.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff; 
    border-radius: 20px;
    padding: 40px;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#presentation {
    width: 50%;
    border: 3px solid rgba(82, 30, 30, 0.271);
    margin: 30px;
    border-radius: 20px;
}

#profession{
    width: 50%;
    border: 5px solid #0d0a2a6f;
    margin: 30px;
    border-radius: 20px;
}

#academy {
    width: 50%;
    border: 5px solid #0f566a4a;
    border-radius: 20px;
    margin: 30px;
}

div:hover{
    color:rgb(255, 255, 255);
    transition: 0.8s;
    box-shadow: 0px 0px 10px white;
}

#image {
    border: 100 px;
    border-radius: 30px;
}

#links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px;
    
}

#links a {
    text-decoration: none;
    color: rgb(191, 182, 224);
    transition: background-color 0.3s, color 0.3s;
    line-height: 200%;
    font-size: 3em;
    padding: 20px;
    margin-right: 40px;

}

#links a:hover {
    background-color: rgb(92, 58, 215);
    color: #fff;
}

ul{
    list-style-type: none;
}